<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand" %>
    <%= link_to 'Add flat', new_flat_path, class: 'btn btn-primary btn-light border background-color: #8064A2 !important'  %>
  </div>
</nav>
